<!-- This launch file does not work yet properly. -->
<launch>
  <!--- Run Move Base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- <param name="~base_local_planner" value="dwa_local_planner/DWAPlannerROS" /> -->
    <!-- <param name="~base_global_planner" value="global_planner/GlobalPlanner" /> -->
    <rosparam file="$(find raspimouse_navigation)/param/costmap_common_params.yaml" command="load" ns="local_costmap"/>
    <rosparam file="$(find raspimouse_navigation)/param/costmap_common_params.yaml" command="load" ns="global_costmap"/>
    <rosparam file="$(find raspimouse_navigation)/param/local_costmap_params.yaml" command="load"/>
    <rosparam file="$(find raspimouse_navigation)/param/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find raspimouse_navigation)/param/base_local_planner_params.yaml" command="load"/>
    <!-- <rosparam file="$(find raspimouse_navigation)/param/dwa_local_planner_params.yaml" command="load"/> -->
    <!-- <rosparam file="$(find raspimouse_navigation)/param/navfn_global_planner_params.yaml" command="load"/> -->
    <rosparam file="$(find raspimouse_navigation)/param/move_base_params.yaml" command="load"/>
  </node>

</launch>
