<!-- This launch file does not work yet properly. -->
<launch>
  <master auto="start"/>

  <node pkg="rviz" type="rviz" name="rviz"/>

  <include file="$(find turtlebot_navigation)/launch/amcl_demo.launch">
    <arg name="map_file" default="$(find raspimouse_navigation)/map/map.yaml"/>
  </include>
</launch>
